div.top{
	background-color:red;
	width:100%;
	display:table;
}
div.data-input{
	color:white;
	font-family: 'Russo One', sans-serif;
	font-size:15px;
	width:50%;
	float:left;
}

#login, #pass{
	color:black;
}
div.init-banner{
	background-color:red;
	width:50%;
	float:left;
	display:table-row;
}
div.logo_container img{
	width:40%;
	height:40%;
}
div.log-pass{
	color:white;
	font-family: 'Russo One', sans-serif;
	font-size:12px;
	background-color:red;
	width:50%;
	margin-top:5%;
	float:left;
	display:table-row;
}
div.init-body{
	background-color:Darkred;	
	height:100vh;
	width:100%;
	float:left;
}
div.text-disclaimer{
	width:40%;
	float:left;
}
.disclaimer{
	font-family: 'Russo One', sans-serif;
	font-size:24px;
	color:white;
}
#lennin{
	width:70%
}
#logo{
	width:70vh;
	height:20vh;
}
#lenninBW img{
	width:50%;
	height:25%;
	float:left;
}
.quoteL{
	font-size:24px;
	margin-top:15%;
	width:50%;
	float:right;
}
.form-group{
	color:white;
	font-family: 'Russo One', sans-serif;
	font-size:15px;
	width:40%;
	left-margin:0;
	float:left;
}
#register{
	height:10%;
	width:100%;
}